.chat_info {
  cursor: default;
  display: flex;
  align-items: center;
  width: 900px;
  height: 60px;
  padding-right: 6px;
  box-sizing: border-box;
  border: 2px solid var(--color-6);
  background-color: var(--color-2);
  color: var(--color-6);
}

.chat_info__id {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 50px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
}

.chat_info__mode {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 50px;
  box-sizing: border-box;
  border-left: var(--rindex-border);
  font-size: 20px;
  font-weight: 500;
}

.chat_info__icon {
  width: 30px;
  height: 30px;
}

.chat_info__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 50px;
  box-sizing: border-box;
  border-left: var(--rindex-border);
  font-size: 20px;
  font-weight: 500;
}

.chat_info__owner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  border-left: var(--rindex-border);
  font-size: 20px;
  font-weight: 500;
}

.chat_info__count {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 50px;
  box-sizing: border-box;
  border-left: var(--rindex-border);
  font-size: 20px;
  font-weight: 500;
}
