.chatbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 900px;
  height: 480px;
  padding: 0px 10px 10px 10px;
  border: 2px solid var(--color-2);
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: var(--color-5);
}

.chatbox::-webkit-scrollbar {
  width: 6px; /* 스크롤바의 너비 */
}

.chatbox::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: var(--color-7); /* 스크롤바의 색상 */
  border-radius: 10px;
}

.chatbox::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0); /*스크롤바 뒷 배경 색상*/
}

.chat__left {
  justify-content: flex-start;
}

.chat__right {
  justify-content: flex-end;
}

.chat__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.chat__name {
  font-size: 25px;
  padding: 10px;
}

.chat__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

.chat__msgbox {
  display: flex;
  width: 100%;
}

.chat__msg {
  word-break: break-all;
  word-wrap: normal;
  text-align: left;
  width: fit-content;
  max-width: 600px;
  font-size: 20px;
  padding: 10px;
  margin: 10px 25px 0px 25px;
  box-sizing: border-box;
  /* border-radius: 5px; */
  background-color: var(--color-3);
}

.chat__msg__right {
  background-color: var(--color-4);
}
