.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  height: 530px;
  padding: 0px 10px 10px 10px;
  box-sizing: border-box;
  overflow-y: scroll;
  border-radius: 10px 0px 10px 10px;
  background-color: rgb(196, 178, 255);
}
