.channel__filters {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 600px;
  height: 60px;
}

.channel__refresh {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 60px;
}

.channel__refreshi {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

@keyframes Turning {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.channel__refreshi:hover {
  cursor: pointer;
  width: 35px;
  height: 35px;
  animation: Turning 2s linear infinite;
}

.channel__newdiv {
  width: 120px;
  height: 120px;
}

.channel__new {
  cursor: pointer;
  width: 120px;
  height: 50px;
  border: 1px solid green;
  font-size: 20px;
  font-weight: 600;
  background-color: green;
  color: white;
}
