.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 960px;
  height: 720px;
}

.menu__link {
  text-decoration: none;
}

.menu__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 200px;
  font-size: 100px;
  background-color: var(--color-2);
  color: var(--color-6);
}

.menu__button:visited {
  text-decoration: none;
}
