.myprofile {
  display: flex;
  flex-direction: row;
  width: 320px;
  height: 120px;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: rgb(220, 220, 220);
}

.myprofile__profile {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 260px;
  height: 120px;
  padding: 10px;
  box-sizing: border-box;
}

.myprofile__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.myprofile__text {
  width: 150px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.myprofile__name {
  font-size: 30px;
}

.myprofile__rating {
  font-size: 20px;
}

.myprofile__icons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60px;
}

.myprofile__icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
}
