.myprofile {
  display: flex;
  flex-direction: row;
  width: 320px;
  height: 120px;
  box-sizing: border-box;
  background-color: var(--color-2);
  color: var(--color-6);
}

.myprofile__profile {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 265px;
  height: 120px;
  margin-left: 10px;
  box-sizing: border-box;
}

.myprofile__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.myprofile__text {
  width: 185px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.myprofile__name {
  font-size: 30px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myprofile__rating {
  font-size: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myprofile__icons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30px;
}

.myprofile__icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
}
