.sidebar {
  width: 320px;
  height: 720px;
  /* border: 1px solid black; */
}

.sidebar__nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 320px;
  height: 60px;
}

.sidebar__tab {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 160px;
  height: 60px;
  box-sizing: border-box;
  /* border: 2px solid var(--color-5); */
}

/* .sidebar__tab:hover {
  height: 60px;
} */

.sidebar__avtive {
  font-weight: 600;
  background-color: var(--color-2);
  color: var(--color-6);
  /* border: 10px solid rgb(115, 135, 135);
  border-bottom: 0px; */
}

.sidebar__inavtive {
  font-weight: 400;
  background-color: var(--color-5);
  color: var(--color-2);
}
.sidebar__list {
  width: 320px;
  height: 540px;
  background-color: var(--color-5);
}

.sidebar_index {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 320px;
  height: 60px;
  font-size: 18px;
  background-color: var(--color-2);
  border: 2px solid var(--color-2);
  color: var(--color-6);
}

.sidebar__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  padding: 15px 5px;
  box-sizing: border-box;
}

.sidebar_index1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 50px;
  box-sizing: border-box;
}

.sidebar_index2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid var(--color-5);
  width: 160px;
  height: 50px;
  padding-left: 5px;
  box-sizing: border-box;
}

.sidebar_index3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 50px;
  border-left: 2px solid var(--color-5);
  box-sizing: border-box;
}

.sidebar__ul {
  width: 316px;
  height: 476px;
  border: 2px solid var(--color-2);
  overflow-y: scroll;
}

.sidebar__ul::-webkit-scrollbar {
  width: 5px; /* 스크롤바의 너비 */
}

.sidebar__ul::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: var(--color-2); /* 스크롤바의 색상 */
  border-radius: 10px;
}

.sidebar__ul::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0); /*스크롤바 뒷 배경 색상*/
}

.inactive {
  display: none;
}
