.user {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  width: 311px;
  height: 60px;
  color: var(--color-2);
}

.user:hover {
  background-color: var(--color-3);
  color: var(--color-6);
}

.user_profile__div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  padding: 15px 5px;
  box-sizing: border-box;
}

.user_profile__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

.user__rank {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
  font-size: 25px;
  color: #d8d8d8;
  /* background-color: black; */
}

.user_profile__username {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid var(--color-2);
  height: 50px;
  font-size: 25px;
  padding-left: 5px;
  box-sizing: border-box;
}

.user_state__div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 75px;
  height: 50px;
  border-left: 2px solid var(--color-2);
  padding: 5px;
  box-sizing: border-box;
}
