.set {
  display: flex;
  flex-direction: column;
  z-index: 50;
  width: 350px;
  /* height: 250px; */
  background-color: white;
  box-sizing: border-box;
}

.set__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 30px;
  background-color: var(--color-2);
  box-sizing: border-box;
  color: var(--color-6);
}

.set__headertitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  font-size: 15px;
  font-weight: 500;
  padding-left: 10px;
  box-sizing: border-box;
}

.set__main {
  background-color: white;
  padding: var(--modal-margin);
  padding-top: 0px;
}

.set__options {
  /* width: 350px; */
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.set__option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-top: 15px;
}

.set__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  width: 100px;
  height: 40px;
  margin-right: 1px;
  background-color: var(--color-2);
  color: white;
}

.set__checkboxdiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 205px;
  height: 40px;
}

.set__checkbox {
  width: 20px;
  height: 30px;
}

.set__input {
  display: flex;
  justify-content: flex-start;
  width: 205px;
  height: 40px;
  border-radius: 0px;
  box-sizing: border-box;
}

.set__inactive {
  display: none;
}

.set__button {
  width: 80px;
  height: 35px;
  border-radius: 0px;
  font-weight: 600;
  border: 0px;
  background-color: var(--color-2);
}
