.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  background-color: var(--color-2);
  color: var(--color-6);
  box-sizing: border-box;
}

.filter:hover {
  height: 60px;
}

.filter__inactive {
  font-weight: 400;
  background-color: var(--color-5);
  color: var(--color-2);
}
