.filter {
  cursor: pointer;
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  border: 0px solid yellow;
  background-color: white;
  border: 2px solid green;
  border-bottom: 0px;
  box-sizing: border-box;
}

.filter:hover {
  height: 60px;
}

.filter__inactive {
  font-weight: 400;
  background-color: rgb(168, 168, 168);
}
