.li__li {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 890px;
  height: 60px;
  padding: 15px 0px;
  box-sizing: border-box;
  color: var(--color-2);
}

.li__li:hover {
  top: 5px;
  background-color: var(--color-3);
  color: var(--color-6);
}

.li__id {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 50px;
  padding-right: 5px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 500;
  color: inherit;
}

.li__title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* justify-content: flex-end; */
  align-items: center;
  width: 500px;
  height: 50px;
  padding: 0px 5px;
  box-sizing: border-box;
  border-left: 2px solid var(--color-2);
  font-size: 20px;
  font-weight: 500;
  color: inherit;
}

.li__owner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  padding: 0px 5px;
  box-sizing: border-box;
  border-left: 2px solid var(--color-2);
  font-size: 20px;
  font-weight: 500;
  color: inherit;
}

.li__count {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 50px;
  padding: 0px 5px;
  box-sizing: border-box;
  border-left: 2px solid var(--color-2);
  font-size: 20px;
  font-weight: 500;
  color: inherit;
}

.li__mode {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 50px;
  box-sizing: border-box;
  border-left: 2px solid var(--color-2);
  font-size: 20px;
  font-weight: 500;
}

.li__icon {
  width: 30px;
  height: 30px;
}

.li__dm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 820px;
  height: 50px;
  padding: 0px 5px;
  box-sizing: border-box;
  border-left: 2px solid var(--color-2);
  font-size: 20px;
  font-weight: 500;
  color: inherit;
}
