:root {
  --room-border: 2px solid green;
}

.li__li {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 890px;
  height: 60px;
  padding: 15px 0px;
  box-sizing: border-box;
}

.li__li:hover {
  top: 5px;
  background-color: rgba(0, 128, 0, 0.2);
}

.li__id {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 80px;
  height: 50px;
  padding-right: 5px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
}

.li__title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 500px;
  height: 50px;
  padding: 0px 5px;
  box-sizing: border-box;
  border-left: var(--room-border);
  font-size: 20px;
  font-weight: 500;
}

.li__owner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 150px;
  height: 50px;
  padding: 0px 5px;
  box-sizing: border-box;
  border-left: var(--room-border);
  font-size: 20px;
  font-weight: 500;
}

.li__count {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 80px;
  height: 50px;
  padding: 0px 5px;
  box-sizing: border-box;
  border-left: var(--room-border);
  font-size: 20px;
  font-weight: 500;
}

.li__mode {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 50px;
  box-sizing: border-box;
  border-left: var(--room-border);
  font-size: 20px;
  font-weight: 500;
}

.li__icon {
  width: 30px;
  height: 30px;
}
