.checker__text {
  height: 60px;
  font-size: 50px;
  font-weight: 600;
  color: rgb(128, 128, 255);
}

.checker__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70px;
}

.checker__input {
  width: 400px;
  height: 60px;
  box-sizing: border-box;
  color: rgb(128, 128, 255);
  font-size: 30px;
}

.checker__input::placeholder {
  color: rgb(195, 195, 255);
}

.checker__button {
  width: 100px;
  height: 60px;
  background-color: rgb(128, 128, 255);
  color: white;
  font-size: 30px;
}

.checker__cancel {
  background-color: rgb(128, 128, 255);
  color: white;
  font-size: 30px;
}
