.invite {
  z-index: 50;
  width: 350px;
  padding-bottom: 15px;
  background-color: rgb(250, 250, 250);
  box-sizing: border-box;
}

.invite__main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 25px;
}

.invite__footer {
  display: flex;
  justify-content: space-around;
}

.invite__button {
  align-items: center;
  width: 100px;
  height: 40px;
  font-size: 18px;
  padding: 5px 0px;
  border-radius: 0px;
}

.invite__no {
  background-color: var(--color-5);
  color: var(--color-2);
}

.invite__ok {
  background-color: var(--color-2);
  color: var(--color-5);
}
